DataFiller: {

  Verbosity:    2
  UseThread:    false
  EnableFilter: false
  RandomAccess: false
  InputFiles: ["/stage2/drinkingkazu/dl_production_v00/hires_filter/testA.root"]
  ProcessType:  ["ADCThreshold","SimpleFiller"]
  ProcessName:  ["ADCThres","SimpleFiller"]
    
  ProcessList: {
    ADCThres: {
      Verbosity: 2
      ImageProducer: "tpc_hires_crop"
      MinADC: [40,50,40]
      MaxADC: [400,500,400]
    }
    SimpleFiller: {

      Verbosity: 2
      # DatumFillerBase configuration
      ImageProducer:     "tpc_hires_crop"
      LabelProducer:     "tpc_hires_crop"

      # SimpleFiller configuration
      ClassTypeDef:      [0,0,0,3,4,4,6,8,8,9]
      ClassTypeList:     [3,4,6,8,9]
      Channels:          [2]
      SegChannel:        2
      EnableMirror:      false
    }
  }
}

